@media (max-width: 1400px) {
    .container {
        max-width: 1140px;
    }

    .social_panel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }

        &__stack {
        grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
        column-gap: 20px;

            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }

    .resume {
        &__wrapper {
            padding: 60px 30px 0 30px;
            column-gap: 50px;
        }
    }

    .skills {
        &__stack {
            grid-template-columns: repeat(3, 270px);
        }

        &__progress {
            padding-top: 100px;
            grid-template-columns: repeat(2, 350px);
            justify-content: center;
            column-gap: 60px;
        }
    }

}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .about {
        &__subtitle {
            font-size: 30px;
        }

        &__wrapper {
            grid-template-columns: 300px 380px;
            column-gap: 40px;
        }

        &__stack {
            grid-template: minmax(115px, auto) / 380px;

            &-item {
                grid-template-columns: 40px 320px;
                column-gap: 20px;
            }
        }
    }

    .resume {
        &__wrapper {
            padding: 60px 25px 0 25px;
            grid-template-columns: repeat(2, 310px);
            column-gap: 50px;
        }
    }

    .skills {
        &__stack {
            grid-template-columns: repeat(2, 270px);
        }

        &__progress {
            grid-template-columns: repeat(2, 340px);
            column-gap: 40px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .title {
        &_fz48 {
            font-size: 28px;
        }

        &_fz36 {
            font-size: 24px;
        }
    }

    .divider {
        margin-top: 15px;
    }

    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }

    .about {
        &__subtitle {
            font-size: 24px;
        }

        &__wrapper {
            grid-template: 450px auto auto / 1fr;
        }

        &__photo {
            grid-row: unset;
        }

        &__stack {
            grid-template-columns: repeat(2, 260px);

            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }

    .resume {
        margin-top: 50px;
        &__wrapper {
            padding: 60px 0 0 0;
            grid-template-columns: repeat(2, 260px);
            column-gap: 20px;
        }
    }

    .skills {
        &__stack {
            grid-template-columns: repeat(2, 270px);
        }

        &__progress {
            grid-template-columns: repeat(2, 260px);
            column-gap: 20px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .hamburger {
        right: 20px;
    }

    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }

    .promo {
        background: url('../img/main_bg_320px.jpg') center center / cover no-repeat;

        &__btns {
            margin-top: 32px;
        }
    }

    .about {
        &__wrapper {
            grid-template-rows: 340px auto auto;
        }

        &__stack {
            grid-template-columns: 1fr;

            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }

    .resume {
        margin-top: 40px;
        &__wrapper {
            padding: 40px 0 0 0;
            grid-template-columns: 1fr;
            row-gap: 40px;
        }
    }

    .skills {
        padding-top: 40px;

        .title {
            &_fz36 {
                line-height: 48px;
                width: 209px;
                margin: 0 auto;
            }
        }

        &__stack {
            padding-top: 20px;
            grid-template-columns: 270px;
        }

        &__progress {
            padding-top: 40px;
            grid-template-columns: 300px;
        }
    }
}
