.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 21px;
    position: fixed;
    top: 20px;
    right: 30px;
    z-index: 1;
    cursor: pointer;

    span {
        display: block;
        width: 30px;
        height: 3px;
        background: #151812;
    }
    span.long {
        width: 36px;
    }
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;
    z-index: 3;

    &.active {
        left: 0;
        visibility: visible;
        opacity: 1;
    }

    &__block {
        position: relative;
        width: 345px;
        height: 100%;
        padding-top: 140px;
        padding-left: 40px;
        background-color: $main-color;
        z-index: 3;
    }

    &__close {
        position: absolute;
        top: 24px;
        right: 25px;
        cursor: pointer;
    }

    &__list {
        position: absolute;
        list-style-type: none;
        padding-left: 35px;
    }

    &__item {
        position: relative;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 15px;

        &:before {
            content: '';
            width: 15px;
            height: 15px;
            position: absolute;
            left: -35px;
            top: 10px;
            transition: all .5s;

            border-radius: 100%;
            border: 1px solid #000;
        }

        &:hover {
            &:before {
                background-color: #fff;
            }
        }

        a {
            color: #fff;
        }
    }

    &__social {
        width: 90px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: 0.75;
    }
}